<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrooveQueue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome to GrooveQueue !</h1>
    
    <nav>
        <ul>
            <li><a href="{{ url_for('sign_up_band') }}">Sign Up as Band</a></li>
            <li><a href="{{ url_for('sign_up_guest') }}">Sign Up as Guest</a></li>
        </ul>
    </nav>
</body>
</html>
